body{
    margin: 0;
 background-image: url(./japon2.jpg);
 text-shadow: rgb(157, 157, 248) 3px 3px;
 text-shadow: rgb(157, 157, 248) 3px 3px;
   justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
#demo{
    color:white;
    font-size: 20px;
     font-family: fantasy;
   width: 40%;
   margin-left: 33%;
   text-shadow: rgb(157, 157, 248) 3px 3px;
   justify-content: center;
    align-items: center;
    align-content: center;
    text-align: center;
}
button{
    font-size: 20px;
    color: white;
    background-color: red;
    margin-left:12%;
    border: solid 10px red;
    border-radius: 20px;
    margin-top: 1%;
    font-family: 'Times New Roman', Times, serif;
    
    
}
video{
    
    margin-left:10%;
    margin-bottom: 70px;
    opacity: .8;
    border-radius: 10%;
}
img{
    margin-left: 9%;
}